body {
  font-family: "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

img {
  width: 200px;
  height: auto;
}

/* Styling section. Restructure later */

.hero, .footer {
  background-color: #1f2937;
}

.main-text {
  font-size: 48px;
  color:#f9faf8;
  font-weight: bolder;
}

.sub-text, .links {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

button, .modal {
  background-color: #3882f6;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 150px;
}

.hero-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 16px 150px;
}

.hero-img, .hero-text {
  flex: 1
}